meta(charset="UTF-8")
meta(name="viewport", content="width=device-width,initial-scale=1")
link(href="https://fonts.googleapis.com/css?family=Oswald:300,400,400i,700", rel="stylesheet")
link(rel="stylesheet", href="css/style.css")
link(rel="shortcut icon", type="image/png", href="img/favicon.png")
title New Loan | All the Loans
h3.heading-primary
  span List Of Loans
div
  table.table-header
    thead
      tr
        th(scope="col") #
        th(scope="col") Customer Name
        th(scope="col") Phone Number
        th(scope="col") Address
        th(scope="col") Loan Amount
        th(scope="col") Interest
        th(scope="col") Loan Term Years
        th(scope="col") Loan Type
        th(scope="col") Description
    tbody
      tr.table-secondary
        th(scope="row") 1
        td Jenil
        td 1098792224
        td Mesa
        td 250
        td 13
        td 4
        td Student Loan
        td Educational Loan
      tr
        th(scope="row") 2
        td Deva
        td 1098746329
        td Tempe
        td 100
        td 12
        td 2
        td Personal Loan
        td Loan for a Car
      tr.table-secondary
        th(scope="row") 3
        td Milan
        td 1094312329
        td Charlotte
        td 120
        td 10
        td 5
        td Auto Loan
        td The Auto Loan
      tr
        th(scope="row") 4
        td Mishri
        td 1998746329
        td New York
        td 725
        td 15
        td 3
        td Personal Loan
        td Loan for a House
      tr.table-secondary
        th(scope="row") 5
        td Prit
        td 3458746329
        td London
        td 170
        td 5
        td 2
        td Mortage Loan
        td Loan for Mortage
      tr.
        
        